@import "./css/sass/abstracts/variables";
@import "./css/sass/base/reset";
@import "./css/sass/layout/header";
@import "./css/sass/layout/main";
@import "./css/sass/components/buttons";

#containerSecondSection {
    margin-left: 3%;
    margin-right: 3%;
    .second--container--tiitle {
        font-size: 1.5rem;
        font-weight: 900;
        margin-top: 30px;
    }
}

