//This file you will create your style base of reset inside of the project
body {
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    user-select: none;
}
a{
    text-decoration: none;
    color: black;
}