.arrow--title {
    display: inline;
    justify-content: none;
    .fa-arrow-left {
        font-size: 1.7rem;
        position: absolute;
        left: 10px;
        top: 18px;
    }
}
.container--menu {
    width: 375px;
    margin: auto;
    background: #f9f9f9;
    padding-bottom: 20px;
    img {
        width: 375px;
        object-fit: cover;
        height: 300px;
    }
}

.menu--title {
    display: flex;
    border-radius: 30px 30px 0px 0px;
    margin-top: -50px;
    position: sticky;
    background: #f9f9f9;

    p {
        font-size: 1.7rem;
        font-family: "Shrikhand";
        margin: 30px auto;
    }
}
.container--entrees {
    .entrees {
        border-bottom: 3px solid $third-color;
        padding-bottom: 3px;
        font-weight: 100;
        width: 40px;
        margin-left: 15px;
        background: #f9f9f9;
    }
}
#empty-heart {
    position: relative;
    margin: auto;
    font-size: 1.7rem;
    width: 20px;
    height: 25px;
    &::before {
        content: "\f004";
        font-family: "Font Awesome 5 Free";
        font-weight: 100;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
}

.box--plats {
    background: white;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 5px;
    margin-top: 18px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px lightgrey;
    border: 1px solid white;
    cursor: pointer;
    .plat--titre {
        font-size: 1.1rem;
        margin-top: 8px;
    }
}
.soustitre--prix {
    display: flex;
    justify-content: space-between;
    margin-top: -27px;
    height: 40px;
    position: relative;
    .plat--soustitre {
        font-weight: 100;
        font-size: 0.9rem;
        width: 260px;
        height: 20px;
    }
}
.soustitre--prix--long {
    height: 54px;
}
.box--plats:hover {
    .plat--titre--long {
        width: 260px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
.figcaption--encoche {
    width: 80px;
    position: relative;
    border-radius: 0 10px 10px 0px;
    margin-top: -20px;
    margin-right: -1px;
    background: $third-color;
    margin-bottom: -1px;
    animation: boxReverse 400ms linear both;
}
.box--plats:hover {
    display: block;
    overflow: hidden;
    .figcaption--encoche {
        display: inline-block;
        animation: box 400ms linear;
        .validation--logo i {
            animation: validate 400ms linear;
        }
    }
}
.box--plats:not(:hover){
    overflow: hidden;
}

.box--plats:hover {
    .plat--soustitre--long {
        width: 260px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
.box--plats:hover {
    .plat--prix {
        animation: box 400ms linear;
    }
}

.validation--logo {
    width: 28px;
    height: 28px;
    border: 1px solid white;
    background: white;
    margin: auto;
    margin-top: 17px;
    border-radius: 100px;
    & i {
        color: $third-color;
        margin-left: 6px;
        margin-top: 6px;
    }
}
.validation--logo--long {
    margin-top: 25px;
}
.plat--prix--long {
    padding-top: 15px;
}
.plat--prix {
    margin-top: 14px;
    margin-right: 2px;
    animation: boxReverse 400ms linear both;
}

