.box--plats--one{
    animation: boxplats 1.2s;
}
.box--plats--two{
    animation: boxplats 1.4s;
}
.box--plats--three{
    animation: boxplats 1.6s;
}
.box--plats--four{
    animation: boxplats 1.7s;
}
