.arrow--title {
    display: inline;
    justify-content: none;
    .fa-arrow-left {
        font-size: 1.7rem;
        position: absolute;
        left: 10px;
        top: 18px;
    }
}
.container--menu {
    width: 375px;
    margin: auto;
    background: #f9f9f9;
    padding-bottom: 20px;
    img {
        width: 375px;
        object-fit: cover;
        height: 300px;
    }
}
.menu--title {
    display: flex;
    justify-content: center;
    border-radius: 30px 30px 0px 0px;
    margin-top: -50px;
    position: sticky;
    background: #f9f9f9;

    p {
        margin-top: 30px;
        font-size: 1.7rem;
        font-family: "Shrikhand";
        margin-left: 15px;
    }
}
.container--entrees {
    .entrees {
        border-bottom: 3px solid $third-color;
        padding-bottom: 3px;
        font-weight: 100;
        width: 40px;
        margin-left: 15px;
        background: #f9f9f9;
    }
}
.far {
    margin: auto;
    font-size: 1.7rem;
    &:hover {
        transition: all 500ms ease-in-out;
        background: red;
    }
}

.box--plats {
    background: white;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 18px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px lightgrey;
    border: 1px solid white;

    .plat--titre {
        font-size: 1.1rem;

        margin-top: 8px;
    }
}
.soustitre--prix {
    display: flex;
    justify-content: space-between;
    margin-top: -27px;
    margin-bottom: -10px;
    .plat--soustitre {
        font-weight: 100;
        font-size: 0.9rem;
        width: 260px;
    }
}
.plat--prix--long {
    padding-top: 15px;
}
.plat--prix {
    margin-top: 14px;
}
//here we talk about the linear gradient btn

.section--titleAndBtn--page {
    display: flex;
    background: #f9f9f9;
}
.section--btn--page {
    cursor: pointer;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    box-shadow: 0px 5px 5px lightgrey;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    font-size: 1rem;
    background: linear-gradient(
        173deg,
        rgba(255, 121, 218, 1) 0%,
        rgba(214, 108, 219, 1) 39%,
        rgba(171, 94, 220, 1) 85%,
        rgba(155, 89, 220, 1) 100%
    );
    transition: box-shadow 200ms ease-in-out;
    & a {
        color: white;
    }
    &:hover {
        opacity: 0.9;
        box-shadow: 0px 10px 5px lightgrey;
    }
}
.position--spinner{
    margin: auto;
    position: relative;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
}
.spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
    margin-top: 200px;
    animation: rotateit 1.5s ease-in-out 2;
    opacity: 0;

    div {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: linear-gradient(
            173deg,
            rgba(255, 121, 218, 1) 0%,
            rgba(214, 108, 219, 1) 39%,
            rgba(171, 94, 220, 1) 85%,
            rgba(155, 89, 220, 1) 100%
        );
        position: absolute;
        margin: auto;
        top: 45px;
        left: 35px;
    }
}
.spinner.circles div:nth-child(1) {
    transform: rotate(0deg) translate(0, -35px) scale(1.3);
}
.spinner.circles div:nth-child(2) {
    transform: rotate(45deg) translate(0, -35px) scale(1.2);
    opacity: 0.7;
}
.spinner.circles div:nth-child(3) {
    transform: rotate(90deg) translate(0, -35px) scale(1.1);
    opacity: 0.6;
}
.spinner.circles div:nth-child(4) {
    transform: rotate(135deg) translate(0, -35px) scale(0.9);
    opacity: 0.5;
}
.spinner.circles div:nth-child(5) {
    transform: rotate(180deg) translate(0, -35px) scale(0.7);
    opacity: 0.4;
}
.spinner.circles div:nth-child(6) {
    transform: rotate(225deg) translate(0, -35px) scale(0.5);
    opacity: 0.3;
}
.spinner.circles div:nth-child(7) {
    transform: rotate(270deg) translate(0, -35px) scale(0.3);
    opacity: 0.2;
}
.spinner.circles div:nth-child(8) {
    transform: rotate(315deg) translate(0, -35px) scale(0.1);
    opacity: 0.1;
}
.transform {
    animation: body 3s;
}
